.AllTest-test-container {
    padding: 40px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    font-family: "Quicksand";
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  /* Remove the default dropdown arrow */
select {
    appearance: none;        /* Removes default styling */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none;    /* For Firefox */
    background-color: white;  /* Makes background consistent */
    padding: 10px;             /* Add some padding */
    border: 1px solid #ccc;    /* Add border for clarity */
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;

}

/* To ensure consistent cross-browser styling */
select:focus {
    border: 1px solid #ff0000; /* Highlight on focus */
}
  .AllTest-test-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group select,
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .form-group input::placeholder {
    color: #aaa;
  }
  
  .AllTest-start-test-button {
    margin: 55px auto; /* Center the button horizontally */
    width: 100%;
    padding: 15px 0px;
    background-color: #830202;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
    max-width: 700px;
    display: block; /* Ensure the button is a block element for centering */
    font-family: "Quicksand";
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);


}

button:hover {
    transform: scale(1.03); 
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}