
/* Grid for quiz selection */
.physics-quiz-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 40px; /* Spacing between boxes */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    width: 100%; /* Full width of the container */
    max-width: 1200px; /* Restrict the maximum width */
    margin: 240px auto; /* Center grid container */
    }



/* Quiz box styling */
.physics-quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    min-width: 300px;
    min-height: 300px;
    font-family: "Quicksand";
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

/* Hover effect for quiz boxes */
.chemistry-quiz-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.physics-quiz-link {
    margin-top: 40px;
    background-color: #830202;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s;
}

.physics-quiz-link:hover {
    transform: scale(1.2); 
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: white;
}