/* Practice Navbar Styling */
.ExploreNavbar {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center align the Practice link */
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
    background-color: #830202; /* Match the navbar background */
    gap: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1), 2px 0 4px rgba(0, 0, 0, 0.1), -2px 0 4px rgba(0, 0, 0, 0.1);
}

.ExplporeNavbarLi {
    list-style: none; /* Remove default list styling */
    cursor: pointer; /* Change cursor on hover */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
    font-family: "Quicksand", sans-serif !important;
    color: #f8f9fa !important;/* Change text color to #f8f9fa */
    font-weight: 400;
}

.ExplporeNavbarLi:hover {
    transform: translateY(-3px); /* Lift effect on hover */
}