/* Practice Navbar Styling */
.PracticeNavbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080; /* Grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 60px; /* Make it thicker */
}

/* Each half */
.half {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

/* Separator line */
.separator {
    width: 2px;
    background-color: #b0b0b0; /* Subtle separation color */
    height: 100px;
}

/* Inaugural text */
.inaugural-text {
    font-size: 18px;
    color: #f8f9fa;
    margin-bottom: 10px;
    font-family: "Quicksand", sans-serif;
}

/* List items */
.PracticeNavbar-li {
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Quicksand", sans-serif !important;
    font-weight: 400;
    background-color: #830202; /* Red color for buttons */
    padding: 12px 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.PracticeNavbar-li:hover {
    transform: translateY(-3px);
    background-color: #a20404; /* Slightly darker red on hover */
}