.search-navbar {
  background-color: #830202;
  padding: 15px 0;
  font-family: "Quicksand";
}

.search-container {
  max-width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.search-container form {
  display: flex;
  gap: 10px;
}

.search-input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  font-family: "Quicksand";
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

.search-button {
  background-color: white;
  color: #830202;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Quicksand";
  font-weight: bold;
}

.search-button:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
} 