.heading {
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
.solved-questions {
    margin: 20px auto; /* Center the box horizontally */
    padding: 10px;
    background-color: #f8f9fa; /* Light background for the questions section */
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    width: 80%;
}
  
 
  
  .solved-question-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd; /* Divider between questions */
    
  }
  
  .solved-question-item:last-child {
    border-bottom: none; /* Remove border for the last item */
  }
  
  .solved-date {
    color: #888; /* Lighter color for the date */
    font-size: 0.9em;
  }